body{
    margin:0;
padding:0;
background: linear-gradient(to right, #303F9F, #FFC107)
}
.contenedor{
    margin: 30px auto;
    width: 80%;
    padding:20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px 15px;
}
h2{
    margin: 15px;
    padding:10px;
    font-size:3em;
    color: whitesmoke;
    text-align: center;
}
.item label{
    color: whitesmoke;
}
.item input{
    width:100%;
    padding:15px 0px;
    color:whitesmoke;
    background: transparent;
    border:none;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 20px;
}
.boton input[type="submit"]{
    width:100%;
    background-color: #FFC107;
    color:#3F51B5;
    text-align: center;
    border:none;
    border-radius: 10px;
    padding:10px;
    letter-spacing: 15px;
    font-size: 1.2em;
    text-transform: capitalize;
}
