#contenido{
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap:nowrap;
    flex-direction:column;
    /*justify-content:stretch;*/
    align-items:center;
}
.caja{
    margin: 10px;
    padding: 5px;
    width: 100px;
    height: 100px;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    border: 2px solid black;
    background: red;
    color:orange;
}
.caja:nth-child(5){
    width: 600px;
}
.caja:nth-child(3){
    width: 300px;
}