* {
  color: rgba(245, 245, 245, 0.932);
  background-color: rgba(0, 0, 0, 0.705);
  font-family: "Roboto", sans-serif, Georgia, "Times New Roman", Times, serif;
  font-size: 1 em;
}
header {
  width: 90%;
}
nav {
  width: 90%;
}
section {
  width: 70%;
}
article {
  width: 90%;
}
aside {
  width: 25%;
}
footer {
  width: 90%;
}
#identificador {
  color: lawngreen;
}

.clase {
  color: rgb(0, 110, 255);
}
h1,
h2 {
  color: white;
  font-size: 1.4em;
}
/*Selectores de clase e id*/
p.clase {
  color: white;
  background-color: black;
  font-size: 1em;
  text-align: center;
}
/*descendientes*/
p a {
  background-color: yellowgreen;
}
a {
  color: red;
  background-color: blue;
}
/*hijos*/
h1 > a {
  color: red;
  background-color: black;
}
/*adyacente*/
h2 + h3 {
  color: fuchsia;
}
