*{
    margin:0;
    padding:0;
}
main{
    margin:10px;
    padding: 10px;
}
#encabezado{
    font-size:3rem;
    background-color:red;
    color:whitesmoke;
}
.item1{
    color:blue;
}
ul li:first-child, ol li:first-child{
    font-size: 1.8rem;
}
ul{
    background-color:cyan;
}
ol{
    background-color:pink;
}